//
// animations
//
.left-to-right-enter {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}
.left-to-right-enter.left-to-right-enter-active {
  left: 0;
}
.left-to-right-leave {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}
.left-to-right-leave.left-to-right-leave-active {
  left: 100%;
}

.right-to-left-enter {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}
.right-to-left-enter.right-to-left-enter-active {
  left: 0;
}
.right-to-left-leave {
  transition: left 0.5s ease;
}
.right-to-left-leave.right-to-left-leave-active {
  position: absolute;
  top: 0;
  width: 100%;
  left: -100%;
}