// ------------------------------------------
// Reset, base styles and vendor dependencies
// ------------------------------------------
@import "vendor/normalize";
@import "bourbon";
@import "neat";
@import "bitters/bitters";
@import "animations";

// --------------------------
// Grid
// --------------------------
$mobile: new-breakpoint(min-width 0px 8);
$tablet: new-breakpoint(min-width 660px 12);
$desktop: new-breakpoint(min-width 1160px 12);

// --------------------------
// Components
// --------------------------
// layout
@import "components/nav-top";
@import "components/nav-bottom";
// components
@import "components/mentions";
@import "components/message";
@import "components/markdown-textarea";
@import "components/nav-header";
@import "components/nav-item";
@import "components/loading";
@import "refills/accordion";
@import "refills/accordion-tabs";
@import "components/mentionsInput";
@import "components/load-more";
@import "components/preview";
@import "components/help";
// list
@import "components/empty-list";
@import "components/discussion-list";
@import "components/team-list";
@import "components/notification-list";
@import "components/attachment-list";
// page
@import "pages/content";
@import "pages/form-view";
@import "pages/team-detail";
@import "pages/discussion-detail";
@import "pages/team-view";
@import "pages/search";
// icons
@import "components/icons";

// --------------------------
// Common styles
// --------------------------
a {
  cursor: pointer;
}

// --------------------------
// Main Structure
// --------------------------
html, body, #main, .main {
  position: relative;
  width: 100%;
  height: 100%;
}