@import "vendor/normalize";
@import "bourbon";
@import "neat";
@import "bitters/bitters";
@import "animations";
// --------------------------
// Color
// --------------------------
$dark: rgb(24,29,33);
$darkLight: rgb(33,55,66);
$gray: rgb(150,150,150);
$white: rgb(220,220,220);
$blueLight: rgba(214,235,255,0.3);
$yellow: rgb(217,133,16);
// layout components
@import "components/nav-top";
// base components
@import "components/message";
@import "components/nav-header";
@import "components/nav-item";
// list components
@import "components/discussion";

$mobile: new-breakpoint(min-width 0px 8);
$tablet: new-breakpoint(min-width 660px 12);
$desktop: new-breakpoint(min-width 1160px 12);

// --------------------------
// Common
// --------------------------
a {
  cursor: pointer;
}

// --------------------------
// Main Structure
// --------------------------
html, body, #main, .main {
  height: 100%;
}

#main {

  @include media($mobile) {
    #sidebar {
      @include span-columns(3);
    }
    #content {
      @include span-columns(5);
      @include omega();
    }
  }

  @include media($tablet) {
    #sidebar {
      @include span-columns(4);
    }
    #content {
      @include span-columns(8);
      @include omega();
    }
  }

  .team-detail {
    .btn-create-discussion {
      float: right;
      margin-right: 2.3%;
    }
    li {
      clear: both;
      padding-right: 2.3%;
      a {
        display: block;
        font-size: 1.2em;
        padding: 10px 0;
        border-bottom: 1px solid #CCC;
      }
    }
  }

  #content {
    // required for animations
    position: relative;
    overflow-x: hidden;
  }
}