<ul class="discussion-list">
  <li class="nav-item"><a href="/ginger/586/testing-notifications/"><span>Testing
  Notifications</span><span class="unread">0</span></a></li>

  <li class="nav-item"><a href="/ginger/572/stuff/"><span>Stuff</span><span class=
  "unread">0</span></a></li>

  <li class="nav-item"><a href="/ginger/566/pdf-thumbnails/"><span>PDF
  Thumbnails</span><span class="unread">0</span></a></li>
</ul>