<form class="discussion-create form-view">
  <div class="form-view-actions">
    <a class="btn btn-cancel" href="/lincoln-loop/">Cancel</a><button class="btn btn-submit" type=
    "submit">Create</button>
  </div>
  <div class="form-view-fields">
    <input placeholder="What are we talking about?" required="" type="text">
    <div class="markdown-textarea">
      <textarea placeholder="Comment.." required="">
</textarea><a class="preview preview-start">Preview</a>
    </div>
  </div>
</form>