<div class="message-container">
  <div class="message-detail">
    <div class="avatar"><img src=
    "https://secure.gravatar.com/avatar/a464f1f39d9d840f9ca156e9abcfd4a9?d=mm&amp;amp;s=40"></div>

    <div class="username">
      Peter Baumgartner
    </div>

    <div class="date">
      2012-07-11T18:09:17.154
    </div>

    <div class="message-content">
      <div class="content">
        <p>yay 4</p>
      </div><span class="votes-list"><a>Graham King</a> <span>and</span>
      <a>Marco Louro</a> <span>like this</span></span>

      <div class="message-actions">
        <span class="votes up-vote"><a class=
        "up-vote">liked</a></span><a>reply</a>
      </div>
    </div>
  </div>
</div>