<div class="message">
  {{> message}}

  <div class="message-children">
    
    <div class="message">
      {{> message}}
      <div class="message-children">
        <div class="message">
          {{> message}}
        </div>
      </div>
    </div>

    <div class="message">
      {{> message}}
    </div>

  </div>
</div>