<div class="message-container">
  <div class="message-detail">
    <div class="avatar"><img src=
    "https://secure.gravatar.com/avatar/a464f1f39d9d840f9ca156e9abcfd4a9?d=mm&amp;amp;s=40"></div>
    <div class="collapse-button"></div>
    <div class="username">
      Peter Baumgartner
    </div>

    <div class="date">
      One day ago
    </div>

    <div class="message-content">
      <div class="content">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>

      <span class="votes-list"><a>Graham King</a> <span>and</span> <a>Marco Louro</a> <span>like this</span></span>

      <div class="message-actions">
        <span class="votes up-vote"><a class=
        "up-vote">liked</a></span><a>reply</a>
      </div>
    </div>
  </div>
</div>