<div class="message-detail message-unread">
  <div class="avatar">
    <img src="https://secure.gravatar.com/avatar/5b273f65a0bd85704820837b28706c9f?d=mm&amp;amp;s=40">
  </div>
  <div class="username">Marco Louro</div>
  <div class="date">2014-02-19T19:52:55.829</div>
  <form class="message-content">
    <div class="markdown-textarea">
      <textarea placeholder="Comment.." required="">test ad as das</textarea>
      <a class="preview preview-start">Preview</a>
    </div>
    <div class="message-actions message-edit-actions">
      <button type="submit">Update</button><a>Cancel</a>
    </div>
  </form>
</div>