<form class="message-content message-content-reply">
  <div>
    <textarea placeholder="Comment.." required=""></textarea>
    <a>Preview</a>
  </div>
  <div class="message-actions message-edit-actions">
    <button type="submit">Reply</button><a>Cancel</a>
  </div>
</form>