h1 Sign In
form#sign-in-form
    .row
        .large-6.columns
            .row.api-key-row.collapse
                .small-10.columns
                    input(name="api-key", type="text", placeholder="API Key")
                .small-2.columns
                    button(type="submit").button.prefix Sign In
