.accordion-tabs {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $blue;
  $tab-inactive-color: $base-body-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $tablet;

  @include clearfix;
  border:none;
  border-radius: $base-border-radius;
  margin: 0;
  margin-bottom: 0;

  @include media($tab-mode) {
    border: none;
  }

  li.tab-header-and-content {


    display: inline;


    &:first-child a.tab-link {
      border-top-left-radius: $base-border-radius; 
      border-top-right-radius: $base-border-radius; 
      border-top: 0;
    }

    &:last-child a.tab-link {
      border-bottom-left-radius: $base-border-radius; 
      border-bottom-right-radius: $base-border-radius; 

      @include media($tab-mode) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.is-active a.tab-link {
      background-color: $tab-active-background;
      border-bottom: 0;
      color: #fff;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom: 1px solid $tab-active-background;
        margin-bottom: -1px;
      }
    }

    &.is-active section {
      display: block;
    }
  }

  li.tab-header-and-content a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    font-weight: bold;
    padding: $base-line-height/2 $gutter/2;
    text-align: center;
    @include inline-block;
    width: 50%;
    border-top: 0;
    border-top-right-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;
    @include transition (all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1));


    &:hover {
      opacity: 0.5;
    }

    &:focus { 
      outline: none; 
    }
  }

  li.tab-header-and-content section {
    background: none;
    display: none;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    border: 0;
    float: left;
    left: 0;


    @include media($tab-mode) {
      background: $tab-content-background;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
      left: 0;
      padding: $base-line-height/2 $gutter/2;
    }
  }
}
