.content {
  // required for animations
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 44px;
  padding-top: 44px;
  padding-bottom: 0px;
  overflow: auto;
  // background-image: url('../static/light-grey-pattern.jpg');
  background: #f3f3f3;

  > div {
    // animation div
    height: 100%;
  }

  .content-view {
    min-height: 100%;
    width: 100%;
    background: #f3f3f3;
    -webkit-transform:translateZ(0);
  }
}
