.app.medium, .app.large {
  .discussion-detail .message:nth-child(1) {
    margin-top: 0;
  }
}

.discussion-detail {
  background:  rgba(0, 0, 0, 0.1);

  h2 {
    display: inline-block;
    margin: 20px 0 10px 10px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    text-overflow: ellipsis;
    display: none;
  }
  
  & > .message {
    margin-left: 0;
  }

  & > .message > .message-children {
    margin-bottom: 0;
    padding-bottom: 2%;
  }
}