.form-view-actions {
  background: #EEE;
  padding: 10px;
  text-align: right;

  .btn-cancel {
    float: left;
  }
}

.form-view-fields {
  padding: 10px;
}

.message-reply .btn {
  width: 100%;
}


.accordion-tabs li.tab-header-and-content section {
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0px solid #DDD;
}

.mentions-input-box textarea {
  border-radius: 0;
  border: none;
}