.form-view-actions {
  background: #EEE;
  padding: 10px;
  text-align: right;

  .btn-cancel {
    float: left;
  }
}

.form-view-fields {
  padding: 10px;
}

.message-reply .btn {
  width: 100%;
}

.mentions-input-box textarea {
  border-radius: 0;
  border: none;
}