.search-view {
  position: relative;
  .query {
    display: inline-block;
    width: calc(100% - 100px);
  }
  .team, .titles {
    display: inline-block;
  }
  .team {
    margin-right: 20px;
  }
  .btn-search {
    display: block;
    width: 100%;
    padding: 7px auto;

    @include media($tablet) {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 90px;
    }
  }
}