.app.large {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .nav-main, .list-main, .content-main {
    position: relative;
    overflow: auto;
    height: 100%;
    float: left;
  }

  .nav-main {
    width: 18%;
    border-right: 1px solid #CCC;
  }
  .list-main {
    width: 32%;
    border-right: 1px solid #CCC;
  }
  .content-main {
    width: 50%;
  }
}

.app.small {

}