.app.medium, .app.large {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .nav-main, .list-main, .content-main {
    position: relative;
    height: 100%;
    float: left;
  }

  .nav-main {
    width: 15%;
    border-right: 1px solid #CCC;
  }
  .list-main {
    width: 35%;
    border-right: 1px solid #CCC;

    .content-view {
      position: relative;
      overflow: auto;
      height: 100%;
      padding-top: 44px;
    }
    .form-view {
      margin-top: 50px;
    }
  }
  .content-main {
    width: 50%;
    overflow: auto;
  }
}

.app.medium {
  .nav-main {
    width: 30%;
  }
  .content-main {
    width: 70%;
  }
}

.app.small {

}