.message-attachments {
   // border-bottom: 1px solid $light-gray;

  .attachments-link {
    display: inline-block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding-left: 5px;
  }

  .message-attachments-list {
    border-bottom: 1px solid $light-gray;
  }
}

.attachment-list {
  padding: 20px 0 20px 0;
  margin: 0;

  .attachment-item {
    list-style: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    .item-icon {
      display: inline-block;
    }
    .item-name {
      display: block;
    }
  }
}