.content {
  // required for animations
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 44px;
  overflow: auto;
  // TODO: this may not be a good idea
  overflow-x: hidden;
  // background-image: url('../static/light-grey-pattern.jpg');
  background: #f3f3f3;

  > div {
    // animation div
    height: 100%;
  }

  .content-view {
    min-height: 100%;
    background: #f3f3f3;
  }
}
