.discussion-list {
  .nav-item {

    a {

      @include display-box;
      @include box-align(center);
      @include box-pack(justify);
      min-height: 44px;

      padding: 0px;
      border-bottom: none;
      font-weight: 300;
      background: #fff;

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;

      .item-content {
        @include box-flex(1);
        @include box-align(center);
        @include box-orient(horizontal);
        @include box-pack(justify);
        
        width: 100%;
        padding-top: 8px;
        padding-bottom: 7px;
        padding-left: 15px;
        min-height: 44px;
        border-bottom: 1px solid #c8c7cc;
        color: #3b3b3b;

        padding-right: 35px;
        // background: no-repeat -webkit-calc(100% - 15px) center;
        // background: no-repeat -moz-calc(100% - 15px) center;
        // background: no-repeat calc(100% - 15px) center;
        @include calcNoRepeat( background, '100% - 15px');
        background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23c7c7cc'/></svg>");
        background-size: 10px 20px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .unread-item {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 4px;
      padding: 7px 5px;
      text-align: center;

      .unread-count {
        display: block;
        color: #fff;
        background: transparent;
        @include border-top-radius(35px);
        @include border-bottom-radius(35px);
        @include border-left-radius(35px);
        @include border-right-radius(35px);
        font-size: 0em;
      }

      &.unread .unread-count {
        background: $blue;
        font-size: 0.7em;
      }
    }
  }
}