.markdown-textarea {
  position: relative;

  textarea {
    height: 500px;
  }
  .preview {
    display: none;
    // position: absolute;
    // top: 5px;
    // right: 5px;
  }
}




.btn-preview {
  margin-right: 10px;
}