.markdown-textarea {
  position: relative;

  textarea {
    height: 500px;
  }
  .btn-submit {
    display: block;
    width: 100%;
  }
  @include media($tablet) {
    .btn-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: auto;
    }
  }
}