#bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 2;
  padding: 10px 10px 0 10px;
  // border-bottom: 1px solid $gray;
  font-weight: bold;
  // background: $dark-green-gray;
  background:#0e7dba;
  // background: rgba(62, 70, 69, 1);

  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), inset 1px 0 0 rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), inset 1px 0 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), inset 1px 0 0 rgba(255,255,255,0.1);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.38), rgba(0,0,0,0)),url(../static/nav-bottom-pattern.png);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.38), rgba(0,0,0,0)),url(../static/nav-bottom-pattern.png);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.38), rgba(0,0,0,0)),url(../static/nav-bottom-pattern.png);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.38), rgba(0,0,0,0)),url(../static/nav-bottom-pattern.png);
  background-image: linear-gradient(bottom, rgba(0,0,0,0.38), rgba(0,0,0,0)),url(../static/nav-bottom-pattern.png);
  text-align: center;

  a {
    color: #fff;
    text-shadow: 0 1px 0 #000000;
  }

  .user-notifications {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 8px 10px 0 10px;

    .notifications {
      display: inline-block;
      min-width: 30px;
      border-radius: 5px;
      border: 1px solid #DDD;
    }

    &:active {
      background: #FFF;
    }

    &.is-unread {
      color: #ff733f;

      .notifications {
        background: #ff733f;
        border-color: #ff733f;
        color: #FFF;
      }

      &.is-unread:active {
        background: #ff733f;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    border-right: 1px solid #000000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }
}