.nav-header {
  display: block;
  padding: 34px 10px 10px 15px;
  // margin-top: 24px;
  border-bottom: 1px solid $light-gray;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  text-transform: uppercase;
  line-height: 1;
  color: #6d6d72;
  // background-image: url('../static/light-grey-pattern.jpg');
}