#top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid $gray;
  font-weight: bold;
  background: $dark-green-gray;
  text-align: center;

  .action {
    float: left;
  }
  .search {
    float: right;
  }

  .title {
    color: #fff;
  }

  .back, .search {
    font-size: 1.1em;
    font-weight: 400;
  }
}