#top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 2;
  padding: 0px 10px 0 10px;
  background: $blue-translucent;
  text-align: center;

  .back {
    position: absolute;
    line-height: 44px;
    left: 15px;
    font-size: 17px;
    color: #fff;

    span {
      margin-left: 8px;
    }
  }

  .title {
    position: absolute;
    left: 80px;
    right: 80px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actions {
    position: absolute;
    right: 10px;
    color: #FFF;
    height: 44px;

    .unreads, .create {
      display: inline-block;
      line-height: 44px;

      &:active {
        opacity: 0.5;
      }
    }

    .unreads .unreads-count {
      display: inline-block;
      padding: 2px 10px 2px 10px;
      @include border-top-radius(40px);
      @include border-bottom-radius(40px);
      @include border-left-radius(40px);
      @include border-right-radius(40px);
      background: $orange;
      color: #FFF;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    .create {
      color: #FFF;
      font-size: 0;
      width: 20px;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon fill-rule='evenodd' clip-rule='evenodd' points='17,13 17,2 13,2 13,13 2,13 2,17 13,17 13,28 17,28 17,17 28,17 28,13 ' fill='#ffffff'/></svg>");
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      

    }
  }
}