.nav-main {
  background: #303E4D;

  .nav-header {
    color: white;
    border-bottom: none;
  }

  .nav-settings {
    margin: 0;
    padding: 0;
    background: #2C3849;
    .icon {
      height: 50px;
    }
    li {
      display: inline-block;
      list-style: none;
      width: 33%;
      text-align: center;
      //border-right: 1px solid #555;
      a {
        display: inline-block;
        width: 100%;
        background-size: auto 50%;
      }
      &:nth-child(3) {
        border-right: none
      }
    }

    .configuration {
      position: relative;

      .configuration-overlay {
        display: none;
      }

      .configuration-overlay.active {
        display: block;
        position: absolute;
        left: -40%;
        top: 40px;
        width: 140%;
        height: auto;
        background: #444;
        z-index: 3;
      }
    }
  }

  .nav-item a {
    background: #303E4D;
    .item-content {
      color: #CCC;
      background-image: none;
      border: none;
    }
  }
}