doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  include includes/head
  body(class=bodyclass)
    include includes/header
    div.container-fluid
      div.row
        div(class="col-sm-4 col-md-3 sidebar")
          include includes/sidebar
        div(class="col-sm-8 col-md-9 main")
          block page-title
            h1.page-header Example Title
          block content
            p Example content
    div.container-fluid
  include includes/foot
