// stolen from http://codepen.io/seandrickson/pen/wGmoq

// loading box
.loanim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: #fff url(../assets/spinner.svg) no-repeat center;
  transition: all .5s cubic-bezier(0.250,0.460,0.450,0.940);
  animation:
    loading-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
}


@keyframes loading-animation {
    0% {
      opacity: 1;
    }

    70% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
}

// threads icon
.tanim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
}
.tanim-icon {
  position: absolute;
  left: calc(50% - 80px);
  bottom: 50%;
  width: 160px;
  height: 160px;
  background: url(../assets/spinner.svg) no-repeat;

  @include animation(0.5s blink infinite alternate linear);
}

@include keyframes(blink) {
    0% { opacity: 0.2; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}


// loading header animated border style
.loading-header {
  position: absolute;
  left: 0;
  height: 2px;
  bottom: 0;
  width: 0;
  background-color: #ff733f;

  @include animation(1.3s animateLoading infinite linear);

  @include media($tablet) {
    @include animation(2.3s animateLoading infinite linear);
  }
  @include media($desktop) {
    @include animation(4s animateLoading infinite linear);
  }
}

@include keyframes(animateLoading) {
    0% { width: 0; }
  100% { width: 120%; }
}