.intro-view {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.hint {
  // align-items: flex-start;
  // justify-content: flex-start;
  // flex-direction: row;
  // text-align: center;
  svg {
    width: 100px;
  }
}

.welcome-message {
  margin-bottom: 40px;
  .salutation {
    font-size: 18px;
  }
}

.create-btn {
  display: block;
  width: 54px;
  height: 54px;
  background-color: #b1b1b1;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon fill-rule='evenodd' clip-rule='evenodd' points='17,13 17,2 13,2 13,13 2,13 2,17 13,17 13,28 17,28 17,17 28,17 28,13 ' fill='#ffffff'/></svg>");
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #d1d1d1;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  &:hover {
    background-color: #6c6c6c;
    box-shadow: 0px 0px 0px 8px #d1d1d1;
    // animation: animate-border 1.5s ease-out;
    // animation-iteration-count: infinite;
  }
}

// @keyframes animate-border {
//   0% {
//     box-shadow: 0px 0px 0px 5px #888;
//   }
//   50% {
//     box-shadow: 0px 0px 0px 8px #888;
//   }
//   100% {
//     box-shadow: 0px 0px 0px 5px #888;
//   }
// }