div(class="navbar navbar-inverse navbar-fixed-top")
  div(class="container-fluid")
    div(class="navbar-header")
      a(href=locals.url)= locals.name
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav navbar-right")
        li
          a About
        li
          a Github