head
  block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title
      block title
        = locals.name
    // styles
    link(rel='stylesheet', href='/docs/css/bootstrap.min.css')
    link(rel='stylesheet', href='/docs/css/prism.css')
    link(rel='stylesheet', href='/docs/css/screen.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700')
    // scripts
    script(src='/docs/js/prism.js')