ul.nav.nav-sidebar
  li
    a(href="/docs/index.html") Welcome
h2 Introduction
ul.nav.nav-sidebar
  li
    a(href="/docs/intro/component-architecture.html") Component-based architecture
  li
    a(href="/docs/intro/modular-javascript.html") Modular JavaScript
h2 Project Structure
ul.nav.nav-sidebar
  li
    a(href="/docs/project-structure/single-page.html") Single-page/Mobile Apps
  li
    a(href="/docs/project-structure/multi-page.html") Multi-page Websites/Apps
h2 Libraries
ul.nav.nav-sidebar
  li
    a(href="/docs/libraries/underscore.html") Underscore
  li
    a(href="/docs/libraries/react.html") React
  li
    span Amygdala
h2 Testing
ul.nav.nav-sidebar
  li
    span Unit tests
  li
    span Functional/browser tests
h2 Techiques
ul.nav.nav-sidebar
  li
    span Forms
  li
    span Events
h2 Tools
ul.nav.nav-sidebar
  li
    span Node Package Manager (NPM)
  li
    span Gulp