<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/htm" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Threads Pattern Library</title>

    <script type="text/javascript" src="//use.typekit.net/jkb8dbp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="{{ css }}">
    <style>

    body {
      overflow: auto;
    }

    #styleguide h1 {
      margin-bottom: 20px;
      padding: 15px;
      font-size: 24px;
      background: #333;
      color: #EEE;
    }

    .patterns {
      padding: 10px;
    }

    .pattern {
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        border-bottom: 5px solid #EEE;
    }
    .pattern h2 {
      background: #EEE;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 16px;
    }

    .pattern .display {
        width: 50%;
        float: left;
    }
    .pattern .source {
        width: 40%;
        float: right;
    }
    .pattern .source textarea {
        width: 90%;
        height: 150px;
        font-style: italic;
    }

    </style>
  </head>
  <body>
    <div id="styleguide">
      <h1>Threads Pattern Library</h1>
      <div class="patterns">
        <div class="pattern">
          <h2>Nav Header</h2>
          <div class="display">
          {{> nav-header}}
          </div>
          <div class="source">
            <textarea>{{> nav-header}}</textarea>
          </div>
        </div>

        <div class="pattern">
          <h2>Nav Item</h2>
          <div class="display">
          {{> nav-item}}
          </div>
          <div class="source">
            <textarea>{{> nav-item}}</textarea>
          </div>
        </div>

        <div class="pattern">
          <h2>Message</h2>
          <div class="display">
          {{> message}}
          </div>
          <div class="source">
            <textarea>{{> message}}</textarea>
          </div>
        </div>

        <div class="pattern">
          <h2>Message Edit</h2>
          <div class="display">
          {{> message-edit}}
          </div>
          <div class="source">
            TODO<!--<textarea>{{> message-edit}}</textarea>-->
          </div>
        </div>

        <div class="pattern">
          <h2>Reply</h2>
          <div class="display">
          {{> reply}}
          </div>
          <div class="source">
            TODO<!--<textarea>{{> reply}}</textarea>-->
          </div>
        </div>

        <div class="pattern">
          <h2>Discussion List</h2>
          <div class="display">
          {{> discussion-list}}
          </div>
          <div class="source">
            <textarea>{{> discussion-list}}</textarea>
          </div>
        </div>

        <div class="pattern">
          <h2>Discussion</h2>
          <div class="display">
          {{> discussion}}
          </div>
          <div class="source">
            <textarea>{{> discussion}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
